th{
	color:blue;
	font: normal small-caps normal 16px/1.4 Georgia;
}
#Talco{
	color:blue;
	background:#ffffff;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Calcio{
	color:blue;
	background:#ffff;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Yeso{
	color:blue;
	background:#d0d0d0;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Calcita{
	color:blue;
	background:#a2a2a2;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Fluorita{
	color:blue;
	background:#a2a2a2;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Apatito{
	color:blue;
	background:#777777;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Ortosa{
	color:blue;
	background:#4e4e4e;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Cuarzo{
	color:blue;
	background:#4e4e4e;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Topacio{
	color:blue;
	background:#292929;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Corindon{
	color:blue;
	background:#292929;
	font: normal small-caps normal 16px/1.4 Georgia;
}#Diamante{
	color:blue;
	background:#000000;
	font: normal small-caps normal 16px/1.4 Georgia;
